{% extends "layout.njk" %}

{% block title %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <main>
        <div id="container">
            <div id="about">
                
                {% for info in about.infos %}
                    <h2>{{ info.name_title }}</h2>
                    <p>{{ info.paragraph1 }}</p>
                    <p>{{ info.paragraph2 }}</p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}