{% extends "layout.njk" %}

{% block title %}
    <title>Foodfy</title>
{% endblock %}

{% block banner %}
    <div id="banner">
        <div id="top-space" class="banner-content">
            <div class="banner-text">
                <h2>As melhores receitas</h2>
                <p>
                    Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.
                </p>
            </div>
            <div class="banner-chef">
                <img src="/assets/chef.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div id="container">
            <div class="accesses">
                <h3>Mais acessadas</h3>

                <div id="cards">
                    <div class="card" id="{{items[0].id}}">
                        <img src="../assets/{{items[0].id}}" alt="{{items[0].title}}">
                        <h4>{{items[0].title}}</h4>
                        <p>{{items[0].author}}</p>
                    </div>
                    
                    <div class="card" id="{{items[1].id}}">
                        <img src="/assets/{{items[1].id}}" alt="{{items[1].title}}">
                        <h4>{{items[1].title}}</h4>
                        <p>{{items[1].author}}</p>
                    </div>

                    <div class="card" id="{{items[2].id}}">
                        <img src="/assets/{{items[2].id}}" alt="{{items[2].title}}">
                        <h4>{{items[2].title}}</h4>
                        <p>{{items[2].author}}</p>
                    </div>

                    <div class="card" id="{{items[3].id}}">
                        <img src="/assets/{{items[3].id}}" alt="{{items[3].title}}">
                        <h4>{{items[3].title}}</h4>
                        <p>{{items[3].author}}</p>
                    </div>

                    <div class="card" id="{{items[4].id}}">
                        <img src="/assets/{{items[4].id}}" alt="{{items[4].title}}">
                        <h4>{{items[4].title}}</h4>
                        <p>{{items[4].author}}</p>
                    </div>

                    <div class="card" id="{{items[5].id}}">
                        <img src="/assets/{{items[5].id}}" alt="{{items[5].title}}">
                        <h4>{{items[5].title}}</h4>
                        <p>{{items[5].author}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}