{% extends "layout.njk" %}

{% block title %}
    <title>Página não encontrada</title>
{% endblock %}

{% block content %}

    <div id="page-error" class="error-404">
        <div class="error">
            <div class="info-error">
                <h2>404</h2>
                <img class="img-Smoke" src="../assets/Smoke.svg" alt="">
                <img class="img-pan" src="../assets/pan.svg" alt="">
                <img class="img-fire" src="../assets/fire.svg" alt="">
            </div>
            
            <h3>Oooh não</h3>
            <p>Esta página não existe, não fique aqui com fome, volte para a página inicial.</p>
            <a href="/">
                <i class="fas fa-home"></i>
                Voltar para o Foodfy
            </a>
        </div>
    </div>

{% endblock %}