{% extends "layout.njk" %}

{% block content %}

    <div id="page-error">
        <div class="error">
            <h2>404</h2>
            <h3>Oooh não</h3>
            <p>Esta página não existe, não fique aqui com fome, volte para a página inicial.</p>
            <a href="/">
                <i class="fas fa-home"></i>
                Voltar para o Foodfy
            </a>
        </div>
    </div>

{% endblock %}