{% extends "layout.njk" %}

{% block title %}
    <title>Receitas</title>
{% endblock %}

{% block activeLinks %}
    <a href="/about">Sobre</a>
    <a href="/revenues" class="active">Receitas</a>
{% endblock %}

{% block content %}
        <main>
            <div id="container">
                <div class="boss-recipes">
                    <div id="cards">
                        {% for item in items %}
                            <div class="card" id="{{item.id}}">
                                <img src="../assets/{{item.id}}" alt="{{item.title}}">
                                <h4>{{item.title}}</h4>
                                <p>{{item.author}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>

        {# <div class="modal-overlay">
            <div class="modal">
                <div class="modal-content">
                    <img src="" alt="" />
                    <h3 class="name-dish"></h3>
                    <span class="name-chef">Nome</span>
                    <span class="close-modal">
                        <a>Fechar modal</a>
                    </span>              
                </div>
            </div>
        </div> #}
{% endblock %}