{% extends "layout.njk" %}

{% block title %}
    <title>Receitas</title>
{% endblock %}

{% block content %}
        <main>
            <div id="container">
                <div class="boss-recipes">
                    <div id="cards">
                        <div class="card" id="burger.png">
                            <img src="../assets/burger.png" alt="prato">
                            <h4>Triplo bacon burger</h4>
                            <p>por Jorge Relato</p>
                        </div>
                        
                        <div class="card" id="pizza.png">
                            <img src="../assets/pizza.png" alt="prato">
                            <h4>Pizza 4 estações</h4>
                            <p>por Fabiana Melo</p>
                        </div>
                        
                        <div class="card" id="espaguete.png">
                            <img src="../assets/espaguete.png" alt="prato">
                            <h4>Espaguete ao alho</h4>
                            <p>por Júlia Kinoto</p>
                        </div>
                        
                        <div class="card" id="lasanha.png">
                            <img src="../assets/lasanha.png" alt="prato">
                            <h4>Lasanha mac n’ cheese</h4>
                            <p>por Juliano Vieira</p>
                        </div>

                        <div class="card" id="doce.png">
                            <img src="../assets/doce.png" alt="prato">
                            <h4>Docinhos pão-do-céu</h4>
                            <p>por Ricardo Golvea</p>
                        </div>
                        
                        <div class="card" id="asinhas.png">
                            <img src="../assets/asinhas.png" alt="prato">
                            <h4>Asinhas de frango ao barbecue</h4>
                            <p>por Vania Steroski</p>
                        </div>

                        <div class="card" id="burger.png">
                            <img src="../assets/burger.png" alt="prato">
                            <h4>Triplo bacon burger</h4>
                            <p>por Jorge Relato</p>
                        </div>
                        
                        <div class="card" id="pizza.png">
                            <img src="../assets/pizza.png" alt="prato">
                            <h4>Pizza 4 estações</h4>
                            <p>por Fabiana Melo</p>
                        </div>
                        
                        <div class="card" id="espaguete.png">
                            <img src="../assets/espaguete.png" alt="prato">
                            <h4>Espaguete ao alho</h4>
                            <p>por Júlia Kinoto</p>
                        </div>
                        
                        <div class="card" id="lasanha.png">
                            <img src="../assets/lasanha.png" alt="prato">
                            <h4>Lasanha mac n’ cheese</h4>
                            <p>por Juliano Vieira</p>
                        </div>

                        <div class="card" id="doce.png">
                            <img src="../assets/doce.png" alt="prato">
                            <h4>Docinhos pão-do-céu</h4>
                            <p>por Ricardo Golvea</p>
                        </div>
                        
                        <div class="card" id="asinhas.png">
                            <img src="../assets/asinhas.png" alt="prato">
                            <h4>Asinhas de frango ao barbecue</h4>
                            <p>por Vania Steroski</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal-overlay">
            <div class="modal">
                <div class="modal-content">
                    <img src="" alt="" />
                    <h3 class="name-dish"></h3>
                    <span class="name-chef">Nome</span>
                    <span class="close-modal">
                        <a>Fechar modal</a>
                    </span>              
                </div>
            </div>
        </div>
{% endblock %}