@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

:root {
    --color-black: #111;
    --color-light-black: #888;
    --color-pink: #FBDFDB;
    --color-footer: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: rgb(253, 253, 253);
}

header {
    margin-bottom: 40px;
}

/* ##### NAVIGATION #####*/
#navbar {
    display: flex;
    width: 940px;
    margin: 30px auto;
}

#navbar .hide {
    display: none;
    visibility: hidden;
}

.nav {
    margin-left: 122.4px;
}

.nav a {
    margin: 0 30px 0 0;
    color: var(--color-black);
}

.nav a:hover {
    font-weight: 700;
}

.active {
    font-weight: 700;
}

.icon i {
    visibility: hidden;
}

/* ##### BANNER #####*/
#banner {
    width: 940px;
    height: 366px;
    margin: 0 auto;
}

.banner-content {
    position: relative;
    background: var(--color-pink);
    padding: 0px 60px;
    height: 366px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.banner-text {
    max-width: 40%;
    line-height: 28px;
    font-weight: 400;
    color: var(--color-light-black);
}

.banner-text h2 {
    margin-bottom: 10px;
    font-size: 32px;
    color: var(--color-black);
}

.banner-text p {
    font-size: 18px;
}

.banner-chef {
    position: absolute;
    right: 88px;
    bottom: -4px;
}

.banner-chef img {
    width: 216px;
    height: 300px;
}

/* ##### ACCESSES #####*/
#container {
    width: 940px;
    margin: 50px auto;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.accesses h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 30px;
}

.accesses img{
    margin-bottom: 20px;
    border-radius: 15px;
    width: 300px;
    height: 140px;
    cursor: pointer;
    transition: filter 200ms;
}

.accesses img:hover {
    filter: brightness(50%);
}

.card h4 {
    font-weight: 400;
    font-size: 18px;
    color: var(--color-black);
    margin-bottom: 5px;
}

.card p {
    color: var(--color-light-black);
    font-size: 14px;
    font-weight: 100;
}

/* ##### ABOUT #####*/
#about h2 {
    margin-bottom: 20px;
    color: var(--color-black);
}

#about h3 {
    margin-bottom: 20px;
    color: var(--color-black);
    font-size: 20px;
}

#about p {
    margin-bottom: 30px;
    color: var(--color-light-black);
    font-size: 18px;
    line-height: 28px;
}

/* ##### REVENUES #####*/

.boss-recipes img{
    margin-bottom: 20px;
    border-radius: 15px;
    width: 300px;
    height: 140px;
    cursor: pointer;
    transition: filter 200ms;
}

.boss-recipes img:hover {
    filter: brightness(50%);
}

/* ##### MODAL #####*/
span {
    display: block;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    position: relative;
    background-color: white;
    border-radius: 15px;
    width: 660px;
    height: 500px;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modal img {
    margin: 20px auto;
    border-radius: 15px;
}

.modal h3 {
    font-size: 24px;
    color: var(--color-black);
    margin-bottom: 5px;
}

.modal span {
    color: var(--color-light-black);
    font-size: 18px;
}

.close-modal {
    position: absolute;
    bottom: 30px;
    left: 283px;
}

.close-modal a {
    cursor: pointer;
    transition: color 200ms;
    font-size: 16px;
    font-weight: 400;
}

.close-modal a:hover {
    color: var(--color-black);
}

/* ##### FOOTER ##### */
footer {
    display: flex;
    background: var(--color-footer);
    width: 100%;
    height: 82px;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 14px;
    color: var(--color-light-black);
}

@media(max-width: 460px) {
    * {
        margin: 0 auto;
    }

    header {
        margin-bottom: 0;
    }
    
    /* ##### NAV ##### */
    #navbar {
        padding: 5px;
        margin-bottom: 15px;
        width: 95%;
    }

    .nav {
        margin-left: 60px;
    } 
    
    /* ##### BANNER ##### */
    #banner {
        display: inline;
    }

    .banner-content {
        padding: 82px 30px;
        border-radius: 0;
        height: 180px;
    }

    .banner-text {
        max-width: 100%;
        text-align: center;
    }

    .banner-text h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .banner-chef {
        display: none;
    }

    .banner-content.nav-top {
        margin-top: 104px;
    }

    /* ##### MAIN ##### */
    #container {
        margin: 15px auto;
        width: 100%;
    }

    /* ##### CARDS ##### */
    #cards {
       display: flex;
       flex-wrap: wrap;
    }

    .accesses h3 {
        padding: 0 29px;
    }
    
    .accesses img {
        margin-bottom: 8px;
    }

    .card h4 {
        font-size: 22px;
    }

    .card {
        font-size: 18px;
    }

    /* ##### MODAL ##### */
    .modal {
        width: 330px;
        height: auto;
        padding-bottom: 87px;
        margin: 15% 4%;
    }

    .modal img {
        width: 90%;
    }
    
    .modal-content a {
        cursor: pointer;
    }

    .close-modal {
        position: absolute;
        bottom: 30px;
        left: 118px;
    }

    /* ##### ABOUT ##### */
    #about {
        padding: 0 16px;
    }

    /* ##### RECIPES ##### */
    .recipes-image.nav-top {
        margin-top: 104px;
    }

    .image {
        border-radius: 0 !important;
    }

    .recipes-info {
        padding: 0 18px;
    }

    .btn-ingredients, 
    .btn-preparation, 
    .btn-information {
        margin-left: 0 !important;
    }
}

/* ##### SMARTPHONE LYING ##### */
@media(min-width: 480px) and (max-width: 660px) {
    * {
        margin: 0 auto;
    }

    header {
        margin-bottom: 0;
    }
    
    /* ##### NAV ##### */
    #navbar {
        margin-bottom: 15px;
        width: 100%;
    }

    #navbar h1 {
        margin: 0;
        margin-left: 30px;
    }
    
    /* ##### BANNER ##### */
    #banner {
        display: inline;
    }

    .banner-content {
        padding: 35px 30px;
        border-radius: 0;
        height: 162px;
    }

    .banner-text {
        max-width: 100%;
        text-align: center;
    }

    .banner-chef {
        display: none;
    }

    .banner-content.nav-top {
        margin-top: 104px;
    }

    /* ##### MAIN ##### */
    #container {
        margin: 15px auto;
        width: 100%;
    }

    /* ##### CARDS ##### */
    #cards {
       display: flex;
       flex-wrap: wrap;
    }

    .accesses h3 {
        padding: 0 29px;
        text-align: center;
    }
    
    .accesses img {
        margin-bottom: 8px;
    }

    .card h4 {
        font-size: 22px;
    }

    .card {
        font-size: 18px;
    }

    /* ##### MODAL ##### */
    .modal {
        width: 430px;
        height: 340px;
        margin: 1% auto;
    }

    .modal img {
        width: 90%;
    }

    /* ##### ABOUT ##### */
    #about {
        padding: 0 16px;
    }

     /* ##### RECIPES ##### */
     .recipes-image.nav-top {
        margin-top: 104px;
    }

    .image {
        border-radius: 0 !important;
    }

    .recipes-info {
        padding: 0 18px;
    }
}

/* ##### NAV ##### */
@media screen and (max-width: 660px) {
    #navbar {
        position: relative;
        padding: 30px 0 7px;
        margin: 0;
        width: 100%;
    }

    #navbar h1 {
        margin: 0;
        margin-left: 12px;
    }
    
    .nav a {
        display: none;
    }

    .icon i {
        visibility: visible;
    }

    .icon i {
        position: absolute;
        top: 23px;
        right: 0;
        margin-right: 12px;
        font-size: 30px;
        color: var(--color-light-black);
        padding: 2px 5px;
        border-radius: 5px;
    }
}

/* ##### NAV Responsive ##### */
@media screen and (max-width: 660px) {
    .nav.responsive a {
        display: block;
        padding: 18px 0;
    }

    .nav.responsive {
        position: absolute;
        width: 100%;
        margin: 0;
        top: 62px;
    }

    .nav.responsive a {
        background-color: var(--color-light-black);
        width: 100%;
        margin: 0;
        text-align: center;
        color: white;
    }
}

/* ##### RECIPES ##### */ 
/* ##### RECIPES IMAGE ##### */
.recipes-image {
    position: relative;
    width: 100%;
    height: 280px;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: center center;
    background-size: cover;
}

/* ##### RECIPES TITLE ##### */
.recipes-title {
    text-align: center;
    padding: 50px 0;
}

.recipes-title h2{
    color: var(--color-black);
    margin-bottom: 4px;
    font-size: 36px;
}

.name-chef {
    color: var(--color-light-black);
    font-size: 20px;
}

/* ##### RECIPES INFO ##### */
.ingredients,
.preparation,
.information {
    margin-bottom: 39px;
}

.ingredients h3,
.preparation h3,
.information h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.ingredients p,
.preparation p,
.information p {
    line-height: 26px;
    margin-bottom: 23px;
    font-size: 18px;
    color: var(--color-light-black);
}

.ingredients li {
    margin-left: 18px;
    line-height: 24px;
    font-size: 18px;
    color: var(--color-light-black);
}

.btn-ingredients,
.btn-preparation,
.btn-information {
    color: var(--color-light-black);
    text-transform: uppercase;
    font-size: 12px;
    display: inline;
    margin-left: 8px;
    cursor: pointer;
    transition: color 200ms;
}

.btn-ingredients:hover,
.btn-preparation:hover,
.btn-information:hover {
    color: var(--color-black);
}


.hidde {
    display: none;
    visibility: hidden;
}





/* ##### PAGE ERRO ##### */ 
#page-error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
    width: 100%;
    top: 0;
    right: 0;
    background: rgb(253, 253, 253);
}

.error {
    padding: 12px;
    text-align: center;
    width: 400px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--color-light-black);
}

.error h2 {
    font-size: 60px;
    margin-bottom: 22px;
}

.error p {
    margin-bottom: 20px;
}

.error a {
    background: var(--color-light-black);
    color: white;
    padding: 12px;
    display: block;
    width: 90%;
    border-radius: 3px;
    border: none;
    transition: background 200ms;
}

.error a:hover {
    background: #666666;
}

.fas.fa-home {
    font-size: 19px;
    margin-right: 13px;
}
